:root {
    --color-cells: white;
    --color-backsplash: #38bdf8;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.board{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, 200px);
    height: 650px;
    width: 650px;
    background-color: var(--color-backsplash);
    border: 2px solid var(--color-backsplash);
    border-radius: 10px 10px 10px 10px;
}

.board-item {

    height: 200px;
    width: 200px;
    border: 5px solid var(--color-backsplash);
    background-color: var(--color-cells);
    align-items: center;
    justify-items: center;
}

.board-item:hover{
    background-color: azure;
    transition: 0.3s;
    cursor:pointer;
}

.settings-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 650px;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
}

.settings-container > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.player {
    display: flex;
}

dialog {
    width: 300px;
    height: 300px;
}

/* removing the outside borders */
.board-item:nth-child(-n + 3) {
    border-top: none;
    border-bottom: none;
} 
.board-item:nth-child(3n) {
    border-right: none;
}
.board-item:nth-child(3n-2) {
    border-left: none;
}
.board-item:nth-child(n + 7) {
    border-bottom: none;
    border-top:none;
}

#tokenSelect {
    height: 50px;
    width: 50px;
}
