.board{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 0px;
}

.board-item {
    display: grid;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    gap: 0px;
    align-items: center;
    justify-items: center;
}

.board-item:hover{
    background-color: azure;
    transition: 0.3s;
    cursor:pointer;
}

.board-item:nth-child(-n + 3) {
    border-top: none;
} 
.board-item:nth-child(3n) {
    border-right: none;
}
.board-item:nth-child(3n-2) {
    border-left: none;
}
.board-item:nth-child(n + 7) {
    border-bottom: none;
}